{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="text-center mb-4">Verify OTP</h3>
        <form method="POST" action="{% url 'resend_otp' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">OTP</label>
            <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Verify OTP</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}
