{% extends 'base.html' %}
{% block content %}
<div class="mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">Update Password</h5>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="password" name="current_password" id="current_password" class="form-control mb-3"
                            placeholder="Current Password" required>
                             <label class="toggle-switch" style="margin-bottom: 15px;">
                                <input type="checkbox" onclick="myFunction()">
                                <span class="slider"></span>
                                <span class="toggle-text">Show Password</span><span style="color: gray; font-size: small;"> (current password)</span>
                            </label>

                            <script>
                                function myFunction() {
                                    var x = document.getElementById("current_password");
                                    if (x.type === "password") {
                                        x.type = "text";
                                    } else {
                                        x.type = "password";
                                    }
                                } 
                            </script>
                        <input type="password" name="new_password" id="new_password" class="form-control mb-3"
                            placeholder="New Password" required>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control mb-3"
                            placeholder="Confirm New Password" required>

                        <div class="d-flex justify-content-between">
                            <a href="/profile/{{ request.user.username }}" class="btn btn-secondary">Cancel</a>
                           
                            <button type="submit" class="btn btn-primary">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}